@import "mobstyle.css" screen;
@import "fullscreenstyle.css"  (min-width:900px);
body{
    background-color: beige;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    color: black;
    padding: 5px;
    margin: 10px;
}

.header{
    grid-area: hd;
    text-align: center;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#title{
    color: blueviolet;
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.content{
    grid-area: main;
    display: flex;
    border: 2px blue dotted;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(2,fr);
    /* grid-template-rows: repeat(2,fr); */
    grid-auto-rows: minmax(200px,auto);
    grid-template-areas: 
    "one one two two"
    "three three four four";
    justify-content: center;
}

.box{
    display: flex;
    padding: 20px;
    margin: 15px;
    border: 2px solid red;
    border-radius: 12px;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    background-blend-mode: color;
    font-family: 'Caveat', cursive;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

#draw{
    grid-area: one;
    display: inline-flex;
    color: red;
    background-image:url('../images/draw.jpg');
    background-size: contain;
}

#cook{
    grid-area: two;
    color:black;
    display: inline-flex;
    background-image: url("../images/cook.jpeg");
    background-size: contain;
}

#travel{
    grid-area: three;
    display: inline-flex;
    background-image:url("../images/Travel.jpg");
    background-size: contain;
}

#skincare{
    grid-area: four;
    display: inline-flex;
    background-image:url("../images/skincare.png");
    background-size: contain;
}

.sidebar{
    display: flex;
    grid-area: sd;
    /* border: 2px solid beige; */
    padding: 15px;
    margin: 10px;
    /* border-radius: 2px; */
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.footer{
    display: flex;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    grid-area: ft;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}    
